<template>
  <div>
    <img
      alt="Vue logo"
      src="../../assets/logo.png"
      @click="show"
    >
  </div>
</template>

<script>
export default {
  created () {
    let text = Array(1000000).fill('xxx').join(',')
    this.$eventBus.$on('showSomething', () => {
      console.log(11)
      this.text = text
    }, this)
  },
  methods: {
    show () {
      this.$eventBus.$emit('showSomething', 12)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
