<template>
  <div>
    <button @click="removeTimer(run1)">
      移除run1
    </button>
    <button @click="addTimer(run1)">
      添加run1
    </button>
    <button @click="removeTimer(run2)">
      移除run2
    </button>
    <button @click="addTimer(run2)">
      添加run2
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    run1 () {
      console.log('run1')
    },
    run2 () {
      console.log('run2')
    },
    removeTimer (fun) {
      this.$globalTimer.$remove(fun, this)
    },
    addTimer (fun) {
      fun()
      this.$globalTimer.$add(fun, this)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
