<template>
  <div>
    <span
      v-for="(t,i) in themes"
      @click="setTheme(t)"
      :key="i"
      :class="[`${t}Btn`,'theme-btn',{active:currentTheme===t}]"
    >
      {{ t }}
    </span>
  </div>
</template>

<script>
export default {
  computed: {
    currentTheme () {
      return this.$store.state.currentTheme
    }
  },
  data () {
    return {
      // 主题色列表
      themes: [
        'red',
        'yellow'
      ]
    }
  },
  methods: {
    setTheme (t) {
      this.$store.commit('SET_THEME', t)
    }
  },
  mounted () {
    this.$callOnDestroy(
      // If nodes getting deleted / added update search.
      this.$store.watch(state => state.currentTheme, () => console.log('主题改变了')),
      this.$store.subscribe((mutation, state) => {
        console.log(mutation, state)
      })
    )
  }
}
</script>

<style lang="scss" scoped>
.theme-btn {
  display: inline-block; padding: 10px; border: 1px solid #ddd; margin-left: -1px; cursor: pointer;
}

.redBtn.active{
  background: $red; color: #fff;
}
.yellowBtn.active{
  background: $yellow; color: #333;
}
</style>
