<template>
  <div class="wrap">
    <div style="margin-top:20px;">
      <span
        v-for="(t,i) in themes"
        @click="setTheme(t)"
        :key="i"
        :class="[`${t}Btn`,'theme-btn',{active:currentTheme===t}]"
      >
        {{ t }}
      </span>
    </div>

    <div class="box">
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    currentTheme () {
      return this.$store.state.currentTheme
    }
  },
  data () {
    return {
      // 主题色列表
      themes: [
        'red',
        'yellow'
      ]
    }
  },
  methods: {
    setTheme (t) {
      this.$store.commit('SET_THEME', t)
    },
    themeTest () {
      console.log('主题定时器')
    }
  },
  mounted () {
    this.$globalTimer.$add(this.themeTest, this)
  }
}
</script>

<style lang="scss" scoped>
.wrap{
    display: flex; justify-content: center;align-items: center; flex-direction: column;
}
.theme-btn {
  display: inline-block; padding: 10px; border: 1px solid #ddd; margin-left: -1px; cursor: pointer;
}

.redBtn.active{
  background: $red; color: #fff;
}
.yellowBtn.active{
  background: $yellow; color: #333;
}
</style>
