<template>
  <div
    id="app"
    :class="`${currentTheme}-theme`"
  >
    <div id="nav">
      <router-link to="/">
        主题示例
      </router-link> |
      <router-link to="/animation">
        动画示例
      </router-link> |
      <router-link to="/eventBus">
        EVENT BUS
      </router-link> |
      <router-link to="/globalTimer">
        全局定时器
      </router-link> |
      <router-link to="/globalWatch">
        全局状态监听
      </router-link>
    </div>
    <router-view />
  </div>
</template>
<script>
export default {
  computed: {
    currentTheme () {
      return this.$store.state.currentTheme
    }
  }
}
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;  color: #2c3e50;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;  color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

</style>
