<template>
  <div
    id="list-complete-demo"
    class="demo"
  >
    <button @click="shuffle">
      Shuffle
    </button>
    <button @click="add">
      Add
    </button>
    <button @click="remove">
      Remove
    </button>
    <TransitionGroup>
      <span
        v-for="(item,index) in items"
        :key="item.id"
        class="list-item"
        :data-index="index"
        :style="{background:item.color}"
      >
        {{ item.id }}{{ item.color }}
      </span>
    </TransitionGroup>
  </div>
</template>

<script>
import TransitionGroup from './TransitionGroup'
import gradientColor from '@/utils/color'
let list = new Array(100).fill({ name: '终端', info: 'aaaaaaaaaaaaaaaaaaaaaaaa', active: 1 })

let colorArr = gradientColor('#f00', '#ff0', 100)
let items = list.map((item, index) => {
  let t = JSON.parse(JSON.stringify(item))
  let w = Math.floor(100 + Math.random() * 200)
  let h = Math.floor(100 + Math.random() * 200)
  t.name = `终端 ${index + 1}`
  t.active = Math.floor(Math.random() * 3)
  t.img = `https://via.placeholder.com/${w}x${h}`
  t.id = index
  t.color = colorArr[index]
  return t
})

export default {
  components: {
    TransitionGroup
  },
  data () {
    return {
      items,
      nextNum: 100
    }
  },
  methods: {
    randomIndex: function () {
      return Math.floor(Math.random() * this.items.length)
    },
    add: function () {
      this.items.splice(this.randomIndex(), 0, { id: this.nextNum++ })
    },
    remove: function () {
      this.items.splice(this.randomIndex(), 1)
    },
    shuffle: function () {
      this.items = _.shuffle(this.items)
    }
  }
}
</script>

<style lang="scss" scoped>
.list-item {
  display: inline-block; width: 100px; height: 100px; margin: 10px; color:#fff;transition: all 1s; background: #000;
}
.animation-list-enter, .animation-list-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;  transform: translateY(30px);
}
.animation-list-leave-active {
  position: absolute;
}
</style>
