<template>
  <transition-group
    appear
    name="animation-list"
    tag="p"
    @before-appear="beforeEnter"
    @appear="enter"
  >
    <slot></slot>
  </transition-group>
</template>

<script>
export default {
  methods: {
    beforeEnter: function (el) {
      el.style.opacity = 0
      el.style.transform = 'scale(0)'
    },
    enter: function (el, done) {
      var delay = el.dataset.index * 50
      setTimeout(function () {
        Velocity(
          el,
          { opacity: 1, scale: 1 },
          { complete: done }
        )
      }, delay)
    },
    leave: function (el, done) {
      var delay = el.dataset.index * 50
      setTimeout(function () {
        Velocity(
          el,
          { opacity: 0, scale: 0 },
          { complete: done }
        )
      }, delay)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
